body {
  background-color: #337;
  width: 100;

}

html {
    overflow-x: hidden;
    max-width: 100%;
}

.imageBorder {
    border: 5px solid #000;
}

.filler {
    background-color: #337;
    max-width: 100%;
    width: 100%;
}
